@import "~materialize-css/dist/css/materialize.min.css";

input.red-input{
  border-bottom: 1px solid #8C0939 !important;

  box-shadow: 0 1px 0 0 #fff !important;
}

input.red-input + label{
  color: #ffffff !important;
}

input.red-input:focus + label{
  color: #8C0939 !important;
}

input.red-input:focus {
  border-bottom: 1px solid #8C0939!important;
  box-shadow: 0 1px 0 0 #8C0939 !important;
}

.linked{
  color: black !important;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.m {
  align-items: center;
}

.l_element{
  color: black !important;
}
